.btn {
    background-color: var(--buttons-links);
    color: var(--bg-color);
    padding: 21px 49px;
    border: 1px solid var(--buttons-links);
    font-size: 14px;
    transition: all 0.2s ease-in-out;
    text-transform: uppercase;
    font-weight: 500;
    line-height: 100%;
    letter-spacing: 0.03rem;

    &:hover {
        background-color: var(--hower-btn);
        border-color: var(--hower-btn);
    }

    &:active {
        transform: scale(0.98);
    }

    &_light {
        background-color: var(--bg-color);
        color: var(--buttons-links);

        &:hover {
            background-color: var(--buttons-links);
            color: var(--bg-color);
        }

        &:active {
            transform: scale(0.98);
        }
    }
}
