.news-card {
    display: flex;
    flex-direction: column;
    width: 420px;

    &__img {
        display: flex;
        margin-bottom: 30px;
        width: 100%;
        height: 235px;
        justify-content: center;
        overflow: hidden;
        order: 0;
    }

    &__date {
        margin-bottom: 12px;
        order: 1;
    }

    &__title {
        margin: 0;
        margin-bottom: 30px;
        transition: .3s all ease-in-out;
        order: 2;

        &:hover a {
            transition: .3s all ease-in-out;
            color: var(--buttons-links);
        }
    }

    &__info {
        order: 3;
    }
}

.abitur-directions-card {
    width: 420px;
    height: 300px;
    padding: 20px 30px;
    border: 1px solid var(--buttons-links);
    box-shadow: 0 8px 16px rgba(0,0,0,.15);

    &__group-code {
        @extend .regular-text;
        margin-bottom: 10px;
    }

    &__title {
        @extend .h4;
        height: 44px;
        margin-bottom: 8px;
    }

    &__text {
        @extend .regular-text;
        margin-bottom: 10px;

        &:last-child {
            margin-bottom: 0;
        }

        & strong {
            &__title {
                @extend .h4;
                margin-bottom: 25px;
            }

            &__text {
                @extend .regular-text;

            }
            font-weight: 500;
        }

        a {
            @extend .reset-link;
            color: var(--buttons-links);
            transition: .3s all ease-in-out;

            &:hover {
                color: var(--hower-btn);
            }
        }
    }
}

.abitur-proceed-card {
    width: 420px;

    &__title {
        @extend .h4;
        margin-bottom: 25px;
    }

    &__text {
        @extend .regular-text;
        margin-bottom: 20px;

        & a {
            @extend .reset-link, .regular-text;
            display: inline;
            color: var(--buttons-links);
            transition: .3s all ease-in-out;

            &:hover {
                color: var(--hower-btn);
            }
        }
    }
}


.places-card {
    display: flex;
    width: 100%;
    padding: 30px;
    margin-bottom: 30px;
    border: 1px solid var(--buttons-links);
    box-shadow: 0 8px 16px rgba(0,0,0,.15);

    &:last-child {
        margin-bottom: 0;
    }

    &__col-left {
        max-width: 318px;
        width: 100%;
        margin-right: 50px;

        & h3 {
            @extend .h3;
        }
    }

    &__group {
        display: flex;
        flex-direction: column;
        gap: 40px 0;
    }

    &__free, &__paid {

        & h4 {
            @extend .h4;
            margin-bottom: 10px;
        }

        & table {
            border-bottom: 1px solid var(--scroll);
            border-collapse: collapse;

            & td {
                padding: 10px 10px 7px;
                vertical-align: top;
                text-align-last: left;
            }
        }

        & thead {

            & tr {

                &:first-child {
                    background-color: var(--light-background);

                    & td {
                        font-size: 16px;
                    }
                }
            }

            & td {
                padding: 10px 10px 7px;
                vertical-align: top;
                text-align-last: left;
                font-size: 14px;
            }
        }



        & tbody {

            & td {
                font-size: 18px;
                font-weight: 700;
            }
        }
    }
}

.direction-card {
    margin-bottom: 100px;

    &:last-child {
        margin-bottom: 0;
    }

    &__header {
        display: flex;
        margin-bottom: 70px;
    }

    &__info {
        width: 900px;
        padding: 30px;
        background-color: var(--light-background);
    }

    &__title {
        @extend .h3;
        margin-bottom: 10px;
    }

    &__code {
        @extend .regular-text;
        display: inline-block;
        margin-bottom: 25px;
    }

    &__row {
        display: flex;
        margin-bottom: 70px;

        &:last-child {
            margin-bottom: 0;
        }
    }

    &__group {
        width: 420px;

        & h4 {
            @extend .h4;
            margin-bottom: 25px;
        }
    }

    &__text {
        @extend .regular-text;
        margin-bottom: 10px;

        & span {
            font-weight: 500;
        }
    }

    &__nums {
        display: flex;
        width: 420px;
    }

    &__free {
        margin-right: 65px;
    }

    &__count, &__subtext {
        @extend .regular-small-text;
    }

    &__count {
        margin-bottom: 20px;
    }

    &__img {
        width: 420px;
    }

    &__desc {
        width: 870px;
        margin-bottom: 50px;

        & p {
            @extend .regular-text;
            margin-bottom: 20px;

            &:last-child {
                margin-bottom: 0;
            }
        }
    }

    &__cols {
        display: grid;
        grid-template-columns: repeat(3, 420px);
        gap: 50px 30px;
    }

    &__subtitle {
        @extend .h3;
        margin-bottom: 25px;
    }

    &__edu, &__skills, &__subjects, &__projects, &__work, &__profession {

        & p {
            @extend .regular-text;
        }
    }
}
