.content {

    h1 {
        @extend .h1;
        margin-bottom: 100px;

        &:last-child {
            margin-bottom: 0;
        }

    }

    h2 {
        @extend .h2;
        margin-bottom: 100px;

        &:last-child {
            margin-bottom: 0;
        }
    }

    h3 {
        @extend .h3;
        margin-bottom: 50px;

        &:last-child {
            margin-bottom: 0;
        }
    }

    h4 {
        @extend .h4;
        margin-bottom: 25px;

        &:last-child {
            margin-bottom: 0;
        }
    }

    p {
        @extend .regular-text;
        margin-bottom: 25px;

        &:last-child {
            margin-bottom: 0;
        }

        a {
            @extend .reset-link;
            color: var(--buttons-links);
        }

        b {
            font-weight: bold;
        }

        strong {
            font-weight: 500;
        }
    }

    ul, ol {
        @extend .regular-text;
        margin-bottom: 25px;
        padding-left: 16px;

        &:last-child {
            margin-bottom: 0;
        }

        li {
            margin-bottom: 25px;

            &:last-child {
                margin-bottom: 0;
            }
        }
    }

    a {
        @extend .reset-link, .regular-text;
        color: var(--buttons-links);
        margin-bottom: 25px;
        transition: .3s all ease-in-out;
        display: inline;

        &:last-child {
            margin-bottom: 0;
        }

        &:hover {
            color: var(--hower-btn);
        }
    }

    table {
        @extend .regular-text;
        margin-bottom: 50px;
        width: 100%;
        border: none;
        border-collapse: collapse;

        &:last-child {
            margin-bottom: 0;
        }

        & thead {
            @extend .regular-text;
            background-color: var(--dark-blue-background);
            color: var(--bg-color);
        }

        tr:nth-child(2n - 1) {
            background: var(--light-background);
        }

        & th {
            font-weight: 400;
            padding: 16px 30px;
            background: var(--dark-blue-background);
            color: var(--bg-color);
            text-align: left;
        }

        td {
            padding: 16px 30px;
        }
    }

    button {
        @extend .btn;
        margin-bottom: 100px;

        &:last-child {
            margin-bottom: 0;
        }
    }
}

@media (max-width: $fourth-bp) {

    .content {

        h3 {
            margin-bottom: 30px;
        }
    }
}
