.h1 {
    margin: 0;
    font-family: Roboto;
    font-size: 66px;
    color: var(--text);
    font-weight: 500;
}

.h2 {
    margin: 0;
    font-family: Roboto;
    font-size: 41px;
    color: var(--text);
    font-weight: 500;
}

.h3 {
    margin: 0;
    font-family: Roboto;
    font-size: 26px;
    color: var(--text);
    line-height: 140%;
    font-weight: 500;
}

.h4 {
    margin: 0;
    font-family: Roboto;
    font-size: 16px;
    color: var(--text);
    line-height: 140%;
    font-weight: 500;
}

// @media (max-width: $fourth-bp) {
//     .h1 {
//         font-size: 41px;
//     }

//     .h2 {
//         font-size: 36px;
//     }

//     .h3 {
//         font-size: 22px;
//     }
// }

// @media (max-width: $fifth-bp) {
//     .h1 {
//         font-size: 30px;
//     }

//     .h2 {
//         font-size: 26px;
//     }
// }

@media (max-width: $third-bp) {
    .h1 {
        font-size: 41px;
    }

    .h2 {
        font-size: 36px;
    }

    .h3 {
        font-size: 22px;
    }
}

@media (max-width: $fourth-bp) {
    .h1 {
        font-size: 30px;
    }

    .h2 {
        font-size: 26px;
    }
}
