.default-text {
    font-family: Roboto;
    font-size: 26px;
    margin: 0;
    color: var(--text);
    font-weight: bold;
}

.light-text {
    font-family: Roboto;
    font-size: 26px;
    font-weight: 300;
    margin: 0;
    color: var(--text);
}

.regular-text {
    font-family: Roboto;
    font-size: 16px;
    line-height: 140%;
    margin: 0;
    color: var(--text);
}

.regular-small-text {
    font-family: Roboto;
    font-size: 14px;
    margin: 0;
    color: var(--text);
}

@media (max-width: $tablet-bp) {
    .default-text {
        font-family: Roboto;
        font-size: 22px;
        margin: 0;
        color: var(--text);
        font-weight: bold;
    }
    
    .light-text {
        font-family: Roboto;
        font-size: 22px;
        font-weight: 300;
        margin: 0;
        color: var(--text);
    }
    
    .regular-text {
        font-family: Roboto;
        font-size: 16px;
        line-height: 140%;
        margin: 0;
        color: var(--text);
    }
    
    .regular-small-text {
        font-family: Roboto;
        font-size: 14px;
        margin: 0;
        color: var(--text);
    }
}

@media (max-width: $mobile-bp) {
    .default-text {
        font-family: Roboto;
        font-size: 16px;
        margin: 0;
        color: var(--text);
        font-weight: bold;
    }
    
    .light-text {
        font-family: Roboto;
        font-size: 16px;
        font-weight: 300;
        margin: 0;
        color: var(--text);
    }
    
    .regular-text {
        font-family: Roboto;
        font-size: 14px;
        line-height: 140%;
        margin: 0;
        color: var(--text);
    }
    
    .regular-small-text {
        font-family: Roboto;
        font-size: 14px;
        margin: 0;
        color: var(--text);
    }
}