.visually-hidden {
    position: absolute !important;
    clip: rect(1px 1px 1px 1px);
    /* IE6, IE7 */
    clip: rect(1px, 1px, 1px, 1px);
    padding: 0 !important;
    border: 0 !important;
    height: 1px !important;
    width: 1px !important;
    overflow: hidden;
}

.reset-list {
    margin: 0;
    padding: 0;
    list-style: none;
}

.reset-btn {
    display: inline-block;
    padding: 0;
    margin: 0;
    text-decoration: none;
    background-color: transparent;
    border: none;
    outline: none;
    cursor: pointer;
}

.reset-link {
    display: inline-block;
    text-decoration: none;
}

.main, .header, .footer {
    margin-right: 80px;
}

.common-ul-list {
    list-style-type: disc;
    margin-bottom: 20px;
    padding-left: 25px;

    & > li {
        @extend .regular-text;
    }

    & > h4 {
        @extend .h4;
    }
}

.common-ol-list {
    list-style-type: decimal;
    padding-left: 25px;
    margin-bottom: 20px;

    & > li {
        @extend .regular-text;
    }

    & > h4 {
        @extend .h4;
    }
}

.angle {
    margin-left: 25px;
    width: 15px;
    height: 15px;
    transition: .3s all ease-in-out;
    transform: rotate(180deg);
}

.table {
    font-size: 16px;
    font-weight: 400;
    line-height: 140%;
    width: 100%;
    border: none;
    border-collapse: collapse;

    & tr {
        vertical-align: top;
    }

    & tr:nth-child(2n - 1) {
        background-color: var(--light-background);
    }

    & th {
        font-weight: 400;
        padding: 16px 30px;
        background: var(--dark-blue-background);
        color: var(--bg-color);
        text-align: left;
    }

    & td {
        padding: 16px 30px;
        color: var(--text);
    }
}

.dropdown-list {
    @extend .reset-list;

    &__link {
        @extend .reset-link;
        margin-bottom: 25px;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        color: var(--text);
        transition: .3s all ease-in-out;

        &:hover {
            transition: .3s all ease-in-out;
            color: var(--buttons-links);

            & svg {
                transition: .3s all ease-in-out;
                fill: var(--buttons-links);
            }
        }

        & h4 {
            @extend .h4;
        }

        &:active svg {
            transition: .3s all ease-in-out;
            transform: rotate(180deg);
        }
    }

    &__item {
        overflow: hidden;
        margin-bottom: 25px;
    }

    & h4 {
        @extend .h4;
    }

    &__info {
        // height: auto;
        height: 0;
    }
}

.common-link {
    @extend .reset-link;
    color: var(--buttons-links);
    transition: .3s all ease-in-out;

    &:hover {
        transition: .3s all ease-in-out;
        color: var(--hower-btn);
    }
}

.text-bold {
    font-weight: 600;
}
