.visually-hidden {
    position: absolute !important;
    clip: rect(1px 1px 1px 1px);
    /* IE6, IE7 */
    clip: rect(1px, 1px, 1px, 1px);
    padding: 0 !important;
    border: 0 !important;
    height: 1px !important;
    width: 1px !important;
    overflow: hidden;
}

.reset-list {
    margin: 0;
    padding: 0;
    list-style: none;
}

.reset-btn {
    display: inline-block;
    padding: 0;
    margin: 0;
    text-decoration: none;
    background-color: transparent;
    border: none;
    outline: none;
    cursor: pointer;
}

.reset-link {
    display: inline-block;
    text-decoration: none;
}

.main, .header, .footer {
    margin-right: 80px;
}

@media (max-width: $second-bp) {

    .main, .header, .footer {
        margin-right: 0;
    }
}

.text-nums {
    font-size: 37px;
    font-weight: 500;
    line-height: 100%;
}

@media (max-width: $third-bp) {

    .text-nums {
        font-size: 30px
    }
}

.breadcrums {
    @extend .reset-list;
    display: flex !important;
    flex-wrap: wrap !important;

    &__link {
        @extend .reset-link;
        color: var(--buttons-links) !important;
        transition: .3s all ease-in-out !important;

        &:hover {
            color: var(--hower-btn) !important;
        }

        &_active {
            color: var(--text) !important;
            pointer-events: none !important;
        }
    }

    & > li {
        padding-left: 0 !important;

        &::before {
            position: relative !important;
        }
    }

    &__divider {
        margin: 0 5px !important;
    }

    &__item, &__link, &_divider {
        display: inline !important;
    }
}

.common-ul-list {
    list-style-type: disc;
    margin-bottom: 20px;
    padding-left: 25px;

    & > li {
        @extend .regular-text;
    }

    & > h4 {
        @extend .h4;
    }
}

.common-ol-list {
    list-style-type: decimal;
    padding-left: 25px;
    margin-bottom: 20px;

    & > li {
        @extend .regular-text;
    }

    & > h4 {
        @extend .h4;
    }
}

.table {
    font-size: 16px;
    font-weight: 400;
    line-height: 140%;
    width: 100%;
    border: none;
    border-collapse: collapse;

    & tr {
        vertical-align: top;
    }

    & tr:nth-child(2n - 1) {
        background-color: var(--light-background);
    }

    & th {
        font-weight: 400;
        padding: 16px 30px;
        background: var(--dark-blue-background);
        color: var(--bg-color);
        text-align: left;
    }

    & td {
        padding: 16px 30px;
        color: var(--text);
    }

    & a {
        @extend .common-link;
    }
}

.dropdown-list {
    @extend .reset-list;


    &__link {
        @extend .reset-link;
        margin-bottom: 25px;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        color: var(--text);
        transition: .3s all ease-in-out;

        &:hover span::after, &:hover span::before {
            background: var(--buttons-links);
        }

        & span.small-angle::after, & span.small-angle::before {
            width: 10px;
        }

        & span.small-angle::after {
            left: 7px;
        }

        & span.small-angle {
            width: 15px;
        }

        & span {
            width: 24px;
            height: 1px;
            display: block;
            position: relative;
            transition: .3s all ease-in-out;
            margin-left: 25px;
            flex-shrink: 0;

            &::before, &::after {
                content: "";
                position: absolute;
                top: 0;
                width: 14px;
                height: 1px;
                background: var(--text);
                transform-origin: center center;
                transition: .3s all ease-in-out;
            }

            &::before {
                transform: rotate(45deg);
                left: 0;
            }

            &::after {
                transform: rotate(-45deg);
                left: 10px;
            }
        }


        & h4 {
            @extend .h4;
            transition: .3s all ease-in-out;
        }

        & h3 {
            @extend .h3;
        }

        &_active {
            color: var(--buttons-links) !important;

            & span {
                transition: .3s all ease-in-out;
                transform: rotate(-180deg);
            }
        }
    }

    &__item {
        overflow: hidden;
        margin-bottom: 25px;
    }

    &__info {
        height: 0;
    }

    & h4 {
        @extend .h4;
    }
}

.common-link {
    @extend .reset-link;
    color: var(--buttons-links);
    transition: .3s all ease-in-out;
    display: inline;

    &:hover {
        transition: .3s all ease-in-out;
        color: var(--hower-btn);
    }
}

details {
    margin-top: 25px;
    margin-bottom: 25px;

    &:last-child {
        margin-bottom: 0;
    }
}

details[open] > summary {

    & span {
        transition: .3s all ease-in-out;
        transform: rotate(-180deg);
    }
}

summary {
    cursor: pointer;
    marker: none;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    color: var(--text);
    transition: .3s all ease-in-out;

    &:hover h4 {
        color: var(--buttons-links);
    }

    & span.small-angle::after, & span.small-angle::before {
        width: 10px;
    }

    & span.small-angle::after {
        left: 7px;
    }

    & span.small-angle {
        width: 15px;
    }

    & span {
        width: 24px;
        height: 1px;
        display: block;
        position: relative;
        transition: .3s all ease-in-out;
        margin-left: 25px;
        flex-shrink: 0;
        margin-bottom: 25px;

        &::before, &::after {
            content: "";
            position: absolute;
            top: 0;
            width: 14px;
            height: 1px;
            background: var(--text);
            transform-origin: center center;
            transition: .3s all ease-in-out;
        }

        &::before {
            transform: rotate(45deg);
            left: 0;
        }

        &::after {
            transform: rotate(-45deg);
            left: 10px;
        }
    }

    &:hover span::after, &:hover span::before {
        background: var(--buttons-links);
    }

    & h4 {
        @extend .h4;
        transition: .3s all ease-in-out;
        margin-bottom: 25px !important;
    }

    & h3 {
        @extend .h3;
        margin-bottom: 25px !important;
    }
}
