// Breakpoints
$tablet-bp: 999.98px;
$mobile-bp: 639.98px;

// Units

:root {
    // Colors
    --bg-color: #FFF;
    --buttons-links: #008AD1;
    --hower-btn: #115D85;
    --light-background: #F1F8FB;
    --dark-blue-background: #111A26;
    --text: #121212;
    --scroll: #C4C4C4;
    // Fonts
    --main-font: "Roboto", "Arial", sans-serif;
}
