// Breakpoints
$tablet-bp: 999.98px;
$mobile-bp: 639.98px;

// Units

:root {
    // Colors
    --bg-color: #FFF;
    --buttons-links: #008AD1;
    --hower-btn: #115D85;
    --light-background: #F1F8FB;
    --dark-blue-background: #111A26;
    --text: #121212;
    --scroll: #C4C4C4;
    --h1-size: 66pt;
    --h1-size: 41pt;
    --h1-size: 26pt;
    --h1-size: 16pt;
    --h3-l: 140%;
    --h4-l: 140%;
    --text1-size: 26pt;
    --text2-size: 26pt;
    --text3-size: 16pt;
    --text4-size: 16pt;
    --text3-lh: 140%;
    --text1-fw: bold;
    --text2-fw: 300;
    



    // Fonts
    --main-font: "Arial", "Roboto", sans-serif;
}
