.edu-direc {

    &__title {
        @extend .h1;
        margin: 50px 0;
    }

    &__main-img {
        margin-bottom: 100px;
    }

    &__group {
        display: flex;
        align-items: flex-start;
        margin-bottom: 100px;
    }

    &__content {
        width: 1320px;
    }
}
