/**
* TODO: Узнать куда пихать grid
* TODO: Разобраться с анимкой перехода на след страницу новостей
* TODO: Нормально ли расположил стили пагинации (в btn)
* TODO: Узнать почему у svg кривая анимка (ссылка на скачивание) + "Назад к новостям"

 */

.first-section {
    position: relative;

    &__slider {
        margin-bottom: 10px;
    }

    &__sub-slider {
        display: flex;
        justify-content: space-between;
    }

    &__title {
        margin-bottom: 50px;
    }

    &__header {
        margin-bottom: 25px;
    }

    &__buttons {
        display: flex;
        gap: 25px;
    }

    &__personal-accounts {
        display: flex;
        align-items: end;
        justify-content: space-between;
        margin-top: auto;
    }

    &__account-link {
        width: 238px;
    }

    &__column {
        display: flex;
        flex-direction: column;
        height: 100%;
    }
}

.articles {

    &__header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 100px;
    }

    &__all-news {
        display: flex;
        align-items: center;
        transition: 0.3s all ease-in-out;

        &:hover > span {
            color: var(--buttons-links);
            transition: 0.3s all ease-in-out;

            & > svg {
                fill: var(--buttons-links);
                transition: 0.3s all ease-in-out;
            }
        }
    }

    &__all-news-arrow {
        width: 24px;
        height: 24px;
    }

    &__all-news-text {
        margin-right: 30px;
        text-transform: lowercase;
    }

    &__view-cards {
        display: flex;
        justify-content: space-between;
    }
}

.grid {
    display: flex;

    &:last-child {
        margin-bottom: 0;
    }

    &__col-left {
        position: relative;
        width: 870px;

        &_pl {
            padding-left: 130px;
        }
    }

    &__col-right {
        position: relative;
        width: 770px;
        margin-left: 100px;
    }
}

.areas-study {

    &__title {
        margin-bottom: 100px;
    }

    &__card {
        padding-left: 130px;
    }

    &__img {
        position: sticky;
        top: 0;
        bottom: -50px;
    }

    &__direction-card {
        margin-bottom: 200px;
    }
}

.study-card {

    &__title {
        margin-bottom: 50px;
        padding-left: 130px;
        position: relative;
    }

    &__id-class {
        position: absolute;
        font-size: 16px;
        font-weight: normal;
        bottom: 4px;
        left: 0;
    }

    &__info {
        margin-bottom: 10px;

        & > strong {
            font-weight: 500;
        }
    }

    &__link {
        color: var(--buttons-links);
        transition: .3s all ease-in-out;

        &:hover {
            color: var(--hower-btn);
        }
    }

    &__btn {
        margin-bottom: 100px;
    }

    &__direction-info {
        display: grid;
        grid-template-columns: repeat(3, 200px);
        grid-auto-flow: dense;
        gap: 20px 50px;
        margin: 50px 0 100px 0;

        span {
            font-size: 41px;
            font-weight: 500;
        }
    }
}

.military-department {
    padding: 100px 0;
    background-color: var(--light-background);

    &__title {
        margin-bottom: 100px;
    }

    &__info {
        margin-bottom: 25px;
    }

    &__btn {
        margin-top: 50px;
    }
}
