<footer class="footer">
    <div class="container">
        <ul class="footer-menu reset-list">
            <li class="footer-menu__item">
                <a class="footer-menu__link reset-link regular-text" href="./abitur.html">Абитуриентам</a>
                <ul class="footer-submenu reset-list">
                    <li class="footer-submenu__item">
                        <a class="footer-submenu__link reset-link" href="./priem.html">Приемная кампания 2024</a>
                    </li>
                    <li class="footer-submenu__item">
                        <a class="footer-submenu__link reset-link" href="./edu-direc.html">Направления обучения</a>
                    </li>
                    <li class="footer-submenu__item">
                        <a class="footer-submenu__link reset-link" href="./courses.html">Подготовительные курсы</a>
                    </li>
                    <li class="footer-submenu__item">
                        <a class="footer-submenu__link reset-link" href="./ovz-room.html">Гражданам с ограниченными возможностями здоровья</a>
                    </li>
                    <li class="footer-submenu__item">
                        <a class="footer-submenu__link reset-link" href="#">Виртуальный тур</a>
                    </li>
                    <li class="footer-submenu__item">
                        <a class="footer-submenu__link reset-link" href="./faq.html">Частые вопросы</a>
                    </li>
                    <li class="footer-submenu__item">
                        <a class="footer-submenu__link reset-link" href="#">Личный кабинет абитуриета</a>
                    </li>
                </ul>
            </li>
            <li class="footer-menu__item">
                <a class="footer-menu__link reset-link regular-text" href="#">Студентам</a>
                <ul class="footer-submenu reset-list">
                    <li class="footer-submenu__item">
                        <a class="footer-submenu__link reset-link" href="#">Вакантные места для приема (перевода)</a>
                    </li>
                    <li class="footer-submenu__item">
                        <a class="footer-submenu__link reset-link" href="#">Учебные материалы</a>
                    </li>
                    <li class="footer-submenu__item">
                        <a class="footer-submenu__link reset-link" href="#">Факультет военного обучения</a>
                    </li>
                    <li class="footer-submenu__item">
                        <a class="footer-submenu__link reset-link" href="#">Расписание занятий (ДО и заочное)</a>
                    </li>
                    <li class="footer-submenu__item">
                        <a class="footer-submenu__link reset-link" href="#">Расписание зачетов и экзаменов</a>
                    </li>
                    <li class="footer-submenu__item">
                        <a class="footer-submenu__link reset-link" href="./library.html">Библиотека</a>
                    </li>
                    <li class="footer-submenu__item">
                        <a class="footer-submenu__link reset-link" href="#">Колачевские чтения</a>
                    </li>
                    <li class="footer-submenu__item">
                        <a class="footer-submenu__link reset-link" href="#">Электронная образовательная среда</a>
                    </li>
                    <li class="footer-submenu__item">
                        <a class="footer-submenu__link reset-link" href="#">Личный кабинет студента</a>
                    </li>
                    <li class="footer-submenu__item">
                        <a class="footer-submenu__link reset-link" href="#">Анкета для опроса граждан</a>
                    </li>
                </ul>
            </li>
            <li class="footer-menu__item">
                <a class="footer-menu__link reset-link regular-text" href="./abitur.html">О филиале</a>
                <ul class="footer-submenu reset-list">
                    <li class="footer-submenu__item">
                        <a class="footer-submenu__link reset-link" href="./allfaculty.html">Кафедры</a>
                        <ul class="footer-subsubmenu">
                            <li class="footer-subsubmenu__item">
                                <a href="#" class="footer-subsubmenu__link regular-small-text reset-link">Кафедра ТАОМ</a>
                            </li>
                            <li class="footer-subsubmenu__item">
                                <a href="./facultyTPAD.html" class="footer-subsubmenu__link regular-small-text reset-link">Кафедра ТПАД</a>
                            </li>
                            <li class="footer-subsubmenu__item">
                                <a href="#" class="footer-subsubmenu__link regular-small-text reset-link">Кафедра МСиИТ</a>
                            </li>
                            <li class="footer-subsubmenu__item">
                                <a href="#" class="footer-subsubmenu__link regular-small-text reset-link">Кафедра ЭиУ</a>
                            </li>
                        </ul>
                    </li>
                    <li class="footer-submenu__item">
                        <a class="footer-submenu__link reset-link" href="#">Выборы и конкурс на замещение вакантных должностей ППС</a>
                    </li>
                    <li class="footer-submenu__item">
                        <a class="footer-submenu__link reset-link" href="#">Реорганизация</a>
                    </li>
                    <li class="footer-submenu__item">
                        <a class="footer-submenu__link reset-link" href="./honored-peoples.html">Заслуженные выпускники филиала</a>
                    </li>
                    <li class="footer-submenu__item">
                        <a class="footer-submenu__link reset-link" href="#">История</a>
                        <ul class="footer-subsubmenu">
                            <li class="footer-subsubmenu__item">
                                <a href="#" class="footer-subsubmenu__link regular-small-text reset-link">Памяти Павлова Е.И.</a>
                                <a href="#" class="footer-subsubmenu__link regular-small-text reset-link">ППС СФ МАТИ 70-х гг.</a>
                                <a href="#" class="footer-subsubmenu__link regular-small-text reset-link">Эксперимент “Ресурс”</a>
                                <a href="#" class="footer-subsubmenu__link regular-small-text reset-link">Память жива</a>
                            </li>
                        </ul>
                    </li>
                    <li class="footer-submenu__item">
                        <a class="footer-submenu__link reset-link" href="#">Справочник сотрудника</a>
                    </li>
                </ul>
            </li>
            <li class="footer-menu__item">
                <a class="footer-menu__link reset-link regular-text" href="./edu-info.html">Сведения об образовательной организации</a>
                <ul class="footer-submenu reset-list">
                    <li class="footer-submenu__item">
                        <a class="footer-submenu__link reset-link" href="./basic-information.html">Основные сведения</a>
                    </li>
                    <li class="footer-submenu__item">
                        <a class="footer-submenu__link reset-link" href="#">Структура и органы управления образовательной организацией</a>
                    </li>
                    <li class="footer-submenu__item">
                        <a class="footer-submenu__link reset-link" href="#">Документы</a>
                    </li>
                    <li class="footer-submenu__item">
                        <a class="footer-submenu__link reset-link" href="#">Образование</a>
                    </li>
                    <li class="footer-submenu__item">
                        <a class="footer-submenu__link reset-link" href="#">Образовательные стандарты</a>
                    </li>
                    <li class="footer-submenu__item">
                        <a class="footer-submenu__link reset-link" href="#">Руководство. Педагогический (научно-педагогический) состав</a>
                    </li>
                    <li class="footer-submenu__item">
                        <a class="footer-submenu__link reset-link" href="#">Материально-техническое обеспечение и оснащённость образовательного процесса</a>
                    </li>
                    <li class="footer-submenu__item">
                        <a class="footer-submenu__link reset-link" href="#">Стипендии и иные виды материальной поддержки</a>
                    </li>
                    <li class="footer-submenu__item">
                        <a class="footer-submenu__link reset-link" href="#">Платные образовательные услуги</a>
                    </li>
                    <li class="footer-submenu__item">
                        <a class="footer-submenu__link reset-link" href="#">Финансово-хозяйственная деятельность</a>
                    </li>
                    <li class="footer-submenu__item">
                        <a class="footer-submenu__link reset-link" href="#">Вакантные места для приема (перевода)</a>
                    </li>
                    <li class="footer-submenu__item">
                        <a class="footer-submenu__link reset-link" href="#">Доступная среда</a>
                    </li>
                    <li class="footer-submenu__item">
                        <a class="footer-submenu__link reset-link" href="#">Международное сотрудничество</a>
                    </li>
                </ul>
            </li>
            <li class="footer-menu__item">
                <a class="footer-menu__link reset-link regular-text" href="./news-page.html">Новости</a>
                <!-- <ul class="footer-submenu reset-list">
                    <li class="footer-submenu__item">
                        <a class="footer-submenu__link reset-link" href="#"></a>
                        <ul class="footer-subsubmenu">
                            <li class="footer-subsubmenu__item">
                                <a href="#" class="footer-subsubmenu__link regular-small-text reset-link"></a>
                            </li>
                        </ul>
                    </li>
                </ul> -->
            </li>
            <li class="footer-menu__item">
                <a class="footer-menu__link reset-link regular-text" href="./contacts.html">Контакты</a>
            </li>
        </ul>
    </div>

    <div class="footer__divider"></div>

    <div class="container">

        <div class="grid">
            <div class="grid__col-left">
                <h3 class="footer__title h3">Контакты</h3>
                <div class="footer__contacts">
                    <div class="footer__col-contacts">
                        <p class="footer__contacts-text regular-text">Ступинский филиал МАИ</p>
                        <p class="footer__contacts-text regular-text">Адрес: Московская область, г.Ступино, ул.Пристанционная д.4</p>
                        <a class="footer__link regular-text reset-link" href="#">показать на карте</a>
                    </div>

                    <div class="footer__col-contacts">
                        <p class="footer__contacts-text regular-text">
                            Директор:
                            <a class="regular-text reset-link" href="tel:+74966441160">8 (496) 644-11-60</a>
                        </p>
                        <p class="footer__contacts-text regular-text">
                            Деканат:
                            <a class="regular-text reset-link" href="tel:+74966411092">8 (496) 641-10-92</a>
                        </p>
                        <p class="footer__contacts-text regular-text">
                            Приемная комиссия:
                            <a class="regular-text reset-link" href="tel:+74966411630">8 (496) 641-16-30</a>
                        </p>
                        <p class="footer__contacts-text regular-text">
                            E-mail:
                            <a class="regular-text reset-link" href="mailto:sf-mai@mai.ru">sf-mai@mai.ru</a>
                        </p>
                        <a class="footer__link regular-text reset-link" href="#">больше контактов</a>
                    </div>
                </div>
                <h3 class="footer__title h3">Задайте интересующий вас вопрос</h3>

                <button class="footer__btn btn btn_transparent reset-btn" type="button">обратная связь</button>
            </div>
            <div class="grid__col-right">
                <div class="footer-links">
                    <a class="footer-links__link regular-small-text reset-link" href="#" target="_blank">
                        МИНИСТЕРСТВО НАУКИ И ВЫСШЕГО ОБРАЗОВАНИЯ РФ
                    </a>
                    <a class="footer-links__link regular-text reset-link" href="#" target="_blank">
                        ЕДИНОЕ ОКНО ДОСТУПА К ИНФОРМАЦИОННЫМ РЕСУРСАМ
                    </a>
                    <a class="footer-links__link regular-small-text reset-link" href="#" target="_blank">
                        МИНПРОСВЕЩЕНИЯ РОССИИ
                    </a>
                    <a class="footer-links__link regular-small-text reset-link" href="#" target="_blank">
                        ЕДИНАЯ КОЛЛЕКЦИЯ ЦИФРОВЫХ ОБРАЗОВАТЕЛЬНЫХ РЕСУРСОВ
                    </a>
                    <a class="footer-links__link regular-small-text reset-link" href="#" target="_blank">
                        ФЕДЕРАЛЬНАЯ СЛУЖБА ПО НАДЗОРУ В СФЕРЕ ОБРАЗОВАНИЯ И НАУКИ
                    </a>
                    <a class="footer-links__link regular-small-text reset-link" href="#" target="_blank">
                        ФЕДЕРАЛЬНЫЙ ЦЕНТР ИНФОРМАЦИОННО-ОБРАЗОВАТЕЛЬНЫХ РЕСУРСОВ
                    </a>
                    <a class="footer-links__link regular-small-text reset-link" href="#" target="_blank">
                        РОССИЙСКОЕ ОБРАЗОВАНИЕ ФЕДЕРАЛЬНЫЙ ПОРТАЛ
                    </a>
                    <a class="footer-links__link regular-small-text reset-link" href="#" target="_blank">
                        ПРОТИВОДЕЙСТВИЕ КОРРУПЦИИ
                    </a>
                </div>
            </div>
        </div>

    </div>

    <div class="container">
        <div class="copyright">
            <p class="copyright__text regular-text">© 2022. Ступинский филиал МАИ. Все права защищены.</p>
            <p class="copyright__text regular-text">Разработка сайта
                <a href="#" class="copyright__link regular-text reset-link">DEVORUM</a>
            </p>
        </div>
    </div>
</footer>
