<header class="header">
    <div class="container">
        <div class="nav">
            <button class="nav__btn reset-btn main-menu-btn" type="button">
                <picture>
                    <img src="./assets/images/navigation/menu.svg" alt="Меню">
                </picture>
            </button>
            <a class="nav__btn reset-link" href="#">
                <picture>
                    <img src="./assets/images/navigation/calendar.svg" alt="Расписание">
                </picture>
            </a>
            <button class="nav__btn reset-btn request-btn" type="button">
                <picture>
                    <img src="./assets/images/navigation/message.svg" alt="Обратная связь">
                </picture>
            </button>
            <button class="nav__btn reset-btn visually-impared-btn" type="button">
                <picture>
                    <img src="./assets/images/navigation/visually-impared.svg" alt="Вариант для слабовидящих">
                </picture>
            </button>
            <button class="nav__btn reset-btn search-btn" type="button">
                <picture>
                    <img src="./assets/images/navigation/search.svg" alt="Поиск">
                </picture>
            </button>
            <div class="nav__social-nav">
                <a class="nav__social-link reset-btn" href="#">
                    <picture>
                        <img src="./assets/images/navigation/vk.svg" alt="Вконтакте">
                    </picture>
                </a>
            </div>
        </div>

        <div class="grid">
            <div class="grid__col-left">
                <a class="nav__MAI-logo reset-link" href="/">
                    <picture>
                        <img src="./assets/images/navigation/logo.svg" alt="logotype MAI">
                    </picture>
                </a>
            </div>
            <div class="grid__col-right">
                <ul class="header__menu reset-list menu-index">
                    <li class="menu-index__item">
                        <a class="menu-index__link regular-small-text reset-link" href="#">
                            Абитуриентам
                        </a>

                        <ul class="submenu reset-list">
                            <li class="submenu__item regular-text">
                                <a href="#" class="submenu__link regular-small-text reset-link">
                                    Приемная кампания 2024
                                </a>
                            </li>
                            <li class="submenu__item regular-small-text">
                                <a href="#" class="submenu__link regular-small-text reset-link">
                                    Направления обучения
                                </a>
                            </li>
                            <li class="submenu__item regular-small-text">
                                <a href="#" class="submenu__link regular-small-text reset-link">
                                    Подготовительные курсы
                                </a>
                            </li>
                            <li class="submenu__item regular-small-text">
                                <a href="#" class="submenu__link regular-small-text reset-link">
                                    Гражданам с ограниченными возможностями здоровья
                                </a>
                            </li>
                            <li class="submenu__item regular-small-text">
                                <a href="#" class="submenu__link regular-small-text reset-link">
                                    Виртуальный тур
                                </a>
                            </li>
                            <li class="submenu__item">
                                <a href="#" class="submenu__link regular-small-text reset-link">
                                    Личный кабинет абитуриета
                                </a>
                            </li>
                        </ul>

                    </li>
                    <li class="menu-index__item">
                        <a class="menu-index__link regular-small-text reset-link" href="#">Студентам</a>

                        <ul class="submenu reset-list">

                            <li class="submenu__item regular-small-text">
                                <a href="#" class="submenu__link regular-small-text reset-link">
                                    Вакантные места для приема (перевода)
                                </a>
                            </li>
                            <li class="submenu__item regular-small-text">
                                <a href="#" class="submenu__link regular-small-text reset-link">
                                    Учебные материалы
                                </a>
                            </li>
                            <li class="submenu__item regular-small-text">
                                <a href="#" class="submenu__link regular-small-text reset-link">
                                    Факультет военного обучения
                                </a>
                            </li>
                            <li class="submenu__item regular-small-text">
                                <a href="#" class="submenu__link regular-small-text reset-link">
                                    Расписание занятий (ДО и заочное)
                                </a>
                            </li>
                            <li class="submenu__item regular-small-text">
                                <a href="#" class="submenu__link regular-small-text reset-link">
                                    Расписание зачетов и экзаменов
                                </a>
                            </li>
                            <li class="submenu__item regular-small-text">
                                <a href="#" class="submenu__link regular-small-text reset-link">
                                    Колачевские чтения
                                </a>
                            </li>
                            <li class="submenu__item regular-small-text">
                                <a href="#" class="submenu__link regular-small-text reset-link">
                                    Библиотека
                                </a>
                            </li>
                            <li class="submenu__item regular-small-text">
                                <a href="#" class="submenu__link regular-small-text reset-link">
                                    Личный кабинет студента
                                </a>
                            </li>
                            <li class="submenu__item regular-small-text">
                                <a href="#" class="submenu__link regular-small-text reset-link">
                                    Электронная образовательная среда
                                </a>
                            </li>
                            <li class="submenu__item regular-small-text">
                                <a href="#" class="submenu__link regular-small-text reset-link">
                                    Анкета для опроса граждан
                                </a>
                            </li>

                        </ul>

                    </li>
                    <li class="menu-index__item">
                        <a class="menu-index__link regular-small-text reset-link" href="#">Контакты</a>

                    </li>
                    <li class="menu-index__item">
                        <a class="menu-index__link regular-small-text reset-link" href="#">Частые вопросы</a>

                    </li>
                </ul>
            </div>
        </div>
    </div>
</header>
