/**
* TODO: Сделать версию для слабовидящих (по возможности)
*/

<div class="visually-impared-menu">
    <div class="container">
        <div class="visually-impared-menu__group">
            <div class="visually-impared-menu__items">
                <button class="visually-impared-menu__button visually-impared-menu__button_text-size_normal">A</button>
                <button class="visually-impared-menu__button visually-impared-menu__button_text-size_medium">A</button>
                <button class="visually-impared-menu__button visually-impared-menu__button_text-size_big">A</button>
            </div>
            <div class="visually-impared-menu__items">
                <button class="visually-impared-menu__button visually-impared-menu__button_color_normal">A</button>
                <button class="visually-impared-menu__button visually-impared-menu__button_color_wb">A</button>
                <button class="visually-impared-menu__button visually-impared-menu__button_color_bw">A</button>
                <button class="visually-impared-menu__button visually-impared-menu__button_color_chrom">A</button>
            </div>
            <div class="visually-impared-menu__items">
                <button class="visually-impared-menu__button visually-impared-menu__button_letter-spacing_normal">Aaa</button>
                <button class="visually-impared-menu__button visually-impared-menu__button_letter-spacing_1px">Aaa</button>
                <button class="visually-impared-menu__button visually-impared-menu__button_letter-spacing_2px">Aaa</button>
            </div>
            <div class="visually-impared-menu__items">
                <button class="visually-impared-menu__button visually-impared-menu__button_font_sans-serif">A</button>
                <button class="visually-impared-menu__button visually-impared-menu__button_font_serif">A</button>
            </div>
            <div class="visually-impared-menu__items">
                <button class="visually-impared-menu__button visually-impared-menu__button_img">?</button>
                <button class="visually-impared-menu__button visually-impared-menu__button_img">?</button>
            </div>
            <div class="visually-impared-menu__items">
                <button class="visually-impared-menu__button visually-impared-menu__reset">Сброс настроек</button>
            </div>
            <div class="visually-impared-menu__items">
                <button class="visually-impared-menu__button visually-impared-menu__close">?</button>
            </div>
        </div>
    </div>
</div>
